# CH. 2 - Python Language Basics, IPython, and Jupyter Notebooks

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

In [2]:
# Rodar script externo no jupyter
%run hello_world.py

Hello World!

In [3]:
# Dictionary comprehension
data = {i: np.random.randn() for i in range(7)}

data

{0: -0.9968062819963779,
 1: 1.2948378567176988,
 2: 1.1217083097432134,
 3: -1.6188344571313886,
 4: 2.100699218465033,
 5: -0.6923863840267794,
 6: 1.1487355749285801}

In [4]:
# print-working-directory magic
path = %pwd
print(path)

/home/jovyan/work/python-data-analysis

In [5]:
# Load magic - carrega na célula o conteúdo
# de um script

#%load hello_world.py
print('Hello World!')

Hello World!

In [6]:
# Help de um magic command
# %load?

In [7]:
# Magic commands documentation
# %quickref
# %magic

In [8]:
# Command input history
# %hist

The `%matplotlib` magic function configures its integration with the IPython shell or Jupyter notebook.

In the IPython shell, running `%matplotlib inline` sets up the integration so you can create
multiple plot windows without interfering with the console session

#### Variables and argument passing
When assigning a variable (or name) in Python, you are creating a reference to the
object on the righthand side of the equals sign.

In [9]:
a = [1,2,3]
b = a 
# a and b actually now refer to the same object,
# the original list [1, 2, 3]
a.append(4)
b

[1, 2, 3, 4]

When you pass objects as arguments to a function, new local variables are created referencing the original objects without any copying.

In [10]:
def append_element(some_list, element):
    some_list.append(element)

data = [1,2,3]

append_element(data, 4)

data

[1, 2, 3, 4]

If you bind a new object to a vari‐
able inside a function, that change will not be reflected in the parent scope. It is
therefore possible to alter the internals of a mutable argument.

In [11]:
def some_f():
    some_var = 5

some_f()
#some_var

Variables are names for objects within a particular namespace; the type information is
stored in the object itself.

In [12]:
#'5' + 5

In some languages, such as Visual Basic, the string '5' might get implicitly converted
(or casted) to an integer, thus yielding 10. Yet in other languages, such as JavaScript,
the integer 5 might be casted to a string, yielding the concatenated string '55' . In this
regard Python is considered a strongly typed language, which means that every object
has a specific type (or class), and implicit conversions will occur only in certain obvi‐
ous circumstances, such as the following:

In [13]:
a = 4.5
b = 2

a/b

2.25

You can check that an object is an
instance of a particular type using the isinstance function:

In [14]:
a = 5
isinstance(a, int)

True

In [15]:
# or a tuple of types:
isinstance(a, (int,float))

True

In [16]:
# methods and attributes can be accessed by getattr
a = '5'
getattr(a, 'split')

#### Duck typing
Often you may not care about the type of an object but rather only whether it has
certain methods or behavior. This is sometimes called “duck typing,” after the saying
“If it walks like a duck and quacks like a duck, then it’s a duck.” For example, you can
verify that an object is iterable if it implemented the iterator protocol.

In [17]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False
    
isiterable('some text')

True

In [18]:
# To check if two references refer to the same object, use the is keyword.
a = 5
b = a

print(a is b)

True

#### Mutable and immutable objects
Most objects in Python, such as lists, dicts, NumPy arrays, and most user-defined
types (classes), are mutable.

Others, like strings and tuples, are immutable.

In [19]:
# int division will always return float
print(3/3)

# to return int use //
print(3//3)

1.0
1

#### Strings

In [20]:
c = """
Multiline
String
"""

# count the linebreaks
c.count('\n')

3

In [21]:
# immutability of strings
# c[10] = 'f'

In [22]:
# replace method creates a copy of c
b = c.replace('String', 'longer string')
b

'\nMultiline\nlonger string\n'

If you have a string with a lot of backslashes and no special characters, you might find
this a bit annoying. Fortunately you can preface the leading quote of the **string with r (raw)**,
which means that the characters should be interpreted as is:

In [23]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

#### String formatting

In [46]:
number = 3.4

f'float: {number:.4f}', f'integer: {int(number):d}'

('float: 3.4000', 'integer: 3')

We can convert this Unicode string to its UTF-8 bytes representation using the
encode method:

In [45]:
val = 'español'
print('utf-8: ',val.encode('utf-8'))
print('latin-1: ',val.encode('latin1'))

utf-8:  b'espa\xc3\xb1ol'
latin-1:  b'espa\xf1ol'

you can define your own byte literals by prefixing a string with b

#### Booleans

In [36]:
True and True

True

In [37]:
False or True

True

#### Type casting

In [50]:
s = '3.1415926'
fs = float(s)
ints = int(float(s))

i = '3'
print(int(i))
print(float(i))

(fs, type(fs)), (ints, type(ints))

3
3.0

((3.1415926, float), (3, int))

In [53]:
# None type
a = None

a is None, type(a)

(True, NoneType)

#### Datetime

In [54]:
from datetime import datetime, date,time

In [55]:
dt = datetime(2020,3,18,7,33,10)
dt

datetime.datetime(2020, 3, 18, 7, 33, 10)

In [58]:
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second

(2020, 3, 18, 7, 33, 10)

Given a datetime instance, you can extract the equivalent date and time objects by
calling methods on the datetime of the same name

In [59]:
dt.date()

datetime.date(2020, 3, 18)

In [60]:
dt.time()

datetime.time(7, 33, 10)

The strftime method formats a datetime as a string

In [61]:
dt.strftime('%d/%m/%Y %H:%M:%S')

'18/03/2020 07:33:10'

Strings can be converted (parsed) into datetime objects with the strptime function:

In [62]:
datetime.strptime('20200318', '%Y%m%d')

datetime.datetime(2020, 3, 18, 0, 0)

Replacing the minute and second fields with zero:

In [65]:
dt.replace(minute=0, second=0)

datetime.datetime(2020, 3, 18, 7, 0)

The difference of two datetime objects produces a datetime.timedelta type

In [68]:
dt2 = datetime(2020,1,1,20,30,1)

delta = dt - dt2

delta, type(delta)

(datetime.timedelta(days=76, seconds=39789), datetime.timedelta)

### Control Flow

In [3]:
# chained comparisons
True is True and not False

True

#### for loops

You can advance a for loop to the next iteration, skipping the remainder of the block,
using the **continue keyword**.

In [6]:
sequence = [1,2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value

print(total)

12

A for loop can be exited altogether with the **break keyword**.
The break keyword only terminates the innermost for loop.

In [7]:
sequence = [1,2,0,4,6,5,2,1]

total_until_5 = 0

for value in sequence:
    if value == 5:
        break
    total_until_5 += value

print(total_until_5)

13

#### pass

pass is the “no-op” statement in Python. It is only required
because Python uses whitespace to delimit blocks.

In [12]:
x = 0

if x < 0:
    print('negative')
elif x == 0:
    pass
else:
    print('positive')

In [15]:
# Range
list(range(-5,-1,1)), list(range(5,1,-1))

([-5, -4, -3, -2], [5, 4, 3, 2])

#### Ternary expressions

A ternary expression in Python allows you to combine an if-else block that produces a value into a single line or expression.

In [16]:
x = 23

'negative' if x < 0 else 'non-negative'

'non-negative'